<li class="game game-top"> <%= link_to "Add Winner", edit_tournament_draw_draw_position_path(id: match.draw_positions.first, draw_id: match.draw.id) %> <span> WN </span></li>
<li class="game game-spacer">  </li>
<li class="game game-bottom "> <%= link_to "Add Winner", edit_tournament_draw_draw_position_path(id: match.draw_positions.second, draw_id: match.draw.id) %> <span> 3:00 </span></li>
