<li class="game game-top"> <%= link_to "#{match.draw_positions.first.players.first.name}", player_path(match.players.first.name) %> <span> WN </span></li>
<li class="game game-spacer"> hi </li>
<li class="game game-bottom "> <%= link_to "#{match.draw_positions.last.players.first.name}", player_path(match.players.last.name) %> <span> 3:00 </span></li>
