Tournament show page

<br>
<br>
<br>

<h3>Here are the draws for this tournament</h3>

<% @tournament.draws.each do |d| %>
  <%= link_to "#{d.name}", tournament_draw_path(tournament_id: @tournament.id,
                                                id: d.id) %>
<% end %>
