<% if match.has_two_players? %>
  <%= render partial: "draw_positions/show_both_players", locals: { match: match }%>

<% elsif match.has_only_one_player? %>
  <%= render partial: "draw_positions/show_player", locals: { match: match } %>

<% elsif match.has_adjacent_players? %>
  <%= render partial: "draw_positions/add_winner", locals: { match: match } %>

<% else %>
  <%= render partial: "draw_positions/show_nothing" %>
<% end %>

<li class="spacer">&nbsp;</li>
