<% unless match.players.empty? %>
  <li class="game game-top"> <%= link_to "#{match.players.first.name}", player_path(match.players.first.name) %> <span> WN </span></li>
  <li class="game game-spacer-top"> </li>
  <li class="game game-spacer">hi </li>
  <li class="game game-spacer-bottom"> </li>
  <li class="game game-bottom "> <%= link_to "#{match.players.last.name}", player_path(match.players.last.name) %> <span> 3:00 </span></li>

  <li class="spacer">&nbsp;</li>
<% else %>
    
  <li class="game game-top"> <%= link_to "Add Winner", edit_draw_position_path(match.draw_positions.first) %> <span> WN </span></li>
  <li class="game game-spacer">  </li>
  <li class="game game-bottom "> <%= link_to "Add Winner", edit_draw_position_path(match.draw_positions.first) %> <span> 3:00 </span></li>

  <li class="spacer">&nbsp;</li>
<% end %>
