/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 82px;
  font-family: 'Sintony', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.carousel .item {
  width: 100%;
  max-height: 550px;
}
.carousel .item img {
  width: 100%;
}

@media (max-width: 767px) {
  .block {
      margin-left: -20px;
      margin-right: -20px;
  }
}

.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 30%;
  left: 0;
  width: 100%;
  text-align:center;
}

.well {
  border-radius: 0;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn.back-white {
  background-color: white;
  padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #E6E6E6;
    color: #E6E6E6;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #E5D5D5;
    border-color: #E5D5D5;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.bpad {
  margin: 20px;
  padding-left: 3px;
}

.topl {
  position:absolute;
    top:5px;
    left:5px;
}

.topr {
  position:absolute;
  top:5px;
  right:5px;
}


@media screen and (min-width:1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}

@media screen and (max-width:600px) {
  .overlay {
    top: 10%;
  }
}

.features .glyphicon {
  font-size: 52px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.box {
  width: 873px;
  height: 390px;
}

.tournaments {
  position: absolute;
  background-image: url('bracket.jpg') no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.slider {
  width: 520px;
  overflow: hidden;
  display: inline-block;
  transform: skewX(-20deg);
  transition: width 1.2s ease-in-out;
  margin-left: -76px;
  pointer-events: none;
}

.players {
  transform: skewX(20deg);
  margin-left: 76px;
  background-image: url('tennis-girl-silhouette.jpg') no-repeat;
  pointer-events: auto;
}

.slider:hover {
    width: 720px;
}

.tournaments:hover + .slider {
    width: 250px;
}

.clip-path {
  position: relative;
  float: left;
  margin: 20px;
  height: 300px;
  width: 340px;
  background: #FF8552;
  padding: 4px;
  transition: all 1s;
}

.clip-path.both {
  position: relative;
  float: left;
  margin: 20px;
  height: 300px;
  width: 400px;
  background: #297373;
  padding: 4px;
  transition: all 1s;
  margin: 20px 0 20px 0;
  -webkit-clip-path: polygon(0% 100%, 15% 0%, 100% 0%, 85% 100%);
  left: -50px;
}

.clip-path.left {
  margin: 20px 0 20px 0;
  -webkit-clip-path: polygon(17% 0%, 100% 0%, 100% 100%, 0% 100%);
  left: -100px;
}

.clip-path.right {
  margin: 20px 0 20px 50px;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 83% 100%);
}

.clip-path .content {
  position: absolute;
  content: '';
  height: calc(100% - 10px);
  width: calc(100% - 8px);
  margin-top: 20%;
}

.clip-path.both .content {
  -webkit-clip-path: polygon(0% 100%, 15% 0%, 100% 0%, 85% 100%);
}

.clip-path.left .content {
  -webkit-clip-path: polygon(17% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.clip-path.right .content {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 83% 100%);
}

.nopadding {
   padding: 0;
   margin: 0;
}
